/vendor/
/node_modules/
/public/build/
/public/hot
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/.env
.env.backup
.env.production
.phpunit.result.cache
/public/storage/logs/laravel.log
.idea/
/bootstrap/cache/*.php
/public/storage/logs/*